*
{margin: 0px;
padding: 0px;}
body
{background-color: green;}
ul
{display: flex;
margin-top: 0;
background-color: blue;}
ul li
{list-style-type: none;
padding: 20px}
ul li a
{text-decoration: none;
color:red;
font-size: 24px;
margin-left: 150px;}
ul li a:hover
{color: white;}
.main
{background-color: red;}
.main h1
{text-align: center;}
.main p
{text-align: center;
font-size: 20px;}
img
{margin-top: 100px;
margin-left: 100px;}
.content
{background-color: blue;
color: white;
margin-left: 500px;
margin-top: -400px;
height: 400px;
width: 400px;}
.content h3
{text-align: center;}
.content h4
{margin-left: 50px;
margin-top: 10px;}
button
{margin-left: 40px;
margin-top: 60px;
padding: 10px;
background-color: green;}
@media screen and (max-width: 600px){
    .main
    {width: 800px;
    font-size: 24px;
     color: yellow;}
    img {margin-top: 40px;
         margin-left: 250px;}
    .content
    {margin-top: 30px;
    margin-left: 200px;
     font-size: 30px;
    width: 500px;
    height: 650px;
    } 
}



