ul
{display: flex;
margin-left: 50px;
margin-top: 0;}
ul li
{list-style-type: none;
padding: 20px;}
ul li a
{text-decoration: none;
color:slategray;
font-size: 24px;}
ul li a:hover
{color: white;}